FEPawsAndTails/Connected Services/BackendAPI/WebServiceGestion.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://tempuri.org/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="obtenerCategorias">
        <s:complexType />
      </s:element>
      <s:element name="obtenerCategoriasResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="obtenerCategoriasResult" type="tns:ArrayOfCATEGORIA" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfCATEGORIA">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="CATEGORIA" nillable="true" type="tns:CATEGORIA" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="CATEGORIA">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ID_CATEGORIA" type="s:long" />
          <s:element minOccurs="0" maxOccurs="1" name="CAT_NOMBRE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CAT_DESCRIPCION" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PRODUCTO" type="tns:ArrayOfPRODUCTO" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfPRODUCTO">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="PRODUCTO" nillable="true" type="tns:PRODUCTO" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="PRODUCTO">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ID_PRODUCTO" type="s:long" />
          <s:element minOccurs="1" maxOccurs="1" name="ID_CATEGORIA" nillable="true" type="s:long" />
          <s:element minOccurs="0" maxOccurs="1" name="PROD_NOMBRE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PROD_DESC" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="PROD_PRECIO" nillable="true" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="PROD_STOCK" nillable="true" type="s:long" />
          <s:element minOccurs="0" maxOccurs="1" name="CATEGORIA" type="tns:CATEGORIA" />
          <s:element minOccurs="0" maxOccurs="1" name="DETALLE_FACTURA" type="tns:ArrayOfDETALLE_FACTURA" />
          <s:element minOccurs="0" maxOccurs="1" name="IMAGEN" type="tns:ArrayOfIMAGEN" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfDETALLE_FACTURA">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="DETALLE_FACTURA" nillable="true" type="tns:DETALLE_FACTURA" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="DETALLE_FACTURA">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ID_DET_FAC" type="s:long" />
          <s:element minOccurs="1" maxOccurs="1" name="ID_PRODUCTO" type="s:long" />
          <s:element minOccurs="1" maxOccurs="1" name="ID_FACTURA" nillable="true" type="s:long" />
          <s:element minOccurs="1" maxOccurs="1" name="DF_CANT" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="DF_PRECIO_VENTA" nillable="true" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="FACTURA" type="tns:FACTURA" />
          <s:element minOccurs="0" maxOccurs="1" name="PRODUCTO" type="tns:PRODUCTO" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="FACTURA">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ID_FACTURA" type="s:long" />
          <s:element minOccurs="1" maxOccurs="1" name="ID_CLIENTE" nillable="true" type="s:long" />
          <s:element minOccurs="1" maxOccurs="1" name="ID_EMPRESA" nillable="true" type="s:long" />
          <s:element minOccurs="1" maxOccurs="1" name="FAC_FECHAHORA" nillable="true" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="FAC_METODO_PAGO" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FAC_DIRECCION" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="FAC_SUBTOTAL" nillable="true" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="FAC_IVA" nillable="true" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="FAC_TOTAL" nillable="true" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="FAC_ESTADO" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CLIENTE" type="tns:CLIENTE" />
          <s:element minOccurs="0" maxOccurs="1" name="DETALLE_FACTURA" type="tns:ArrayOfDETALLE_FACTURA" />
          <s:element minOccurs="0" maxOccurs="1" name="EMPRESA" type="tns:EMPRESA" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="CLIENTE">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ID_CLIENTE" type="s:long" />
          <s:element minOccurs="1" maxOccurs="1" name="ID_USUARIO" nillable="true" type="s:long" />
          <s:element minOccurs="0" maxOccurs="1" name="CLI_NOMBRE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CLI_APELLIDO" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CLI_CED_RUC" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CLI_TELEFONO" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="CLI_FECHANAC" nillable="true" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="CLI_DIRECCION" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="USUARIO" type="tns:USUARIO" />
          <s:element minOccurs="0" maxOccurs="1" name="FACTURA" type="tns:ArrayOfFACTURA" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="USUARIO">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ID_USUARIO" type="s:long" />
          <s:element minOccurs="1" maxOccurs="1" name="ID_ROL" type="s:long" />
          <s:element minOccurs="0" maxOccurs="1" name="USR_NOMBRE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="USR_CORREO" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="USR_PASSWD" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="USR_FECHA_REGISTRO" nillable="true" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="CLIENTE" type="tns:ArrayOfCLIENTE" />
          <s:element minOccurs="0" maxOccurs="1" name="ROL" type="tns:ROL" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfCLIENTE">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="CLIENTE" nillable="true" type="tns:CLIENTE" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ROL">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ID_ROL" type="s:long" />
          <s:element minOccurs="0" maxOccurs="1" name="ROL_NOMBRE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ROL_DESC" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="USUARIO" type="tns:ArrayOfUSUARIO" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfUSUARIO">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="USUARIO" nillable="true" type="tns:USUARIO" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfFACTURA">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="FACTURA" nillable="true" type="tns:FACTURA" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="EMPRESA">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ID_EMPRESA" type="s:long" />
          <s:element minOccurs="0" maxOccurs="1" name="EMP_NOMBRE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="EMP_RUC" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="EMP_DIR" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FACTURA" type="tns:ArrayOfFACTURA" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfIMAGEN">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="IMAGEN" nillable="true" type="tns:IMAGEN" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="IMAGEN">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ID_IMAGEN" type="s:long" />
          <s:element minOccurs="1" maxOccurs="1" name="ID_PRODUCTO" type="s:long" />
          <s:element minOccurs="0" maxOccurs="1" name="IMG_URL" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="IMG_TIPO" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PRODUCTO" type="tns:PRODUCTO" />
        </s:sequence>
      </s:complexType>
      <s:element name="obtenerCategoriaPorId">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="obtenerCategoriaPorIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="obtenerCategoriaPorIdResult" type="tns:CATEGORIA" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="crearCategoria">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="categoria" type="tns:CATEGORIA" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="crearCategoriaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="crearCategoriaResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="actualizarCategoria">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="categoria" type="tns:CATEGORIA" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="actualizarCategoriaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="actualizarCategoriaResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="eliminarCategoria">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="eliminarCategoriaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="eliminarCategoriaResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="obtenerClientes">
        <s:complexType />
      </s:element>
      <s:element name="obtenerClientesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="obtenerClientesResult" type="tns:ArrayOfCLIENTE" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="obtenerClientePorID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="idCliente" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="obtenerClientePorIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="obtenerClientePorIDResult" type="tns:CLIENTE" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="crearCliente">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="cliente" type="tns:clienteDTO" />
            <s:element minOccurs="0" maxOccurs="1" name="usuario" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="contraseña" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="clienteDTO">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="cliCedula" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="cliNombre" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="cliApellido" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="cliTelefono" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="cliCorreo" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="crearClienteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="crearClienteResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="actualizarCliente">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="cliente" type="tns:CLIENTE" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="actualizarClienteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="actualizarClienteResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="eliminarCliente">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="idCliente" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="eliminarClienteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="eliminarClienteResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="obtenerDetallesFactura">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="idFactura" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="obtenerDetallesFacturaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="obtenerDetallesFacturaResult" type="tns:ArrayOfDETALLE_FACTURA" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="agregarDetalleFactura">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="detalle" type="tns:DETALLE_FACTURA" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="agregarDetalleFacturaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="agregarDetalleFacturaResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="actualizarDetalleFactura">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="detalle" type="tns:DETALLE_FACTURA" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="actualizarDetalleFacturaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="actualizarDetalleFacturaResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="eliminarDetalleFactura">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="idDetalle" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="eliminarDetalleFacturaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="eliminarDetalleFacturaResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="obtenerFacturas">
        <s:complexType />
      </s:element>
      <s:element name="obtenerFacturasResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="obtenerFacturasResult" type="tns:ArrayOfFACTURA" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="obtenerFacturaPorID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="idFactura" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="obtenerFacturaPorIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="obtenerFacturaPorIDResult" type="tns:FACTURA" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="obtenerFacturasPorCedulaCliente">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="cedula" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="obtenerFacturasPorCedulaClienteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="obtenerFacturasPorCedulaClienteResult" type="tns:ArrayOfFACTURA" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="crearFactura">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="factura" type="tns:FACTURA" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="crearFacturaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="crearFacturaResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="actualizarFactura">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="factura" type="tns:FACTURA" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="actualizarFacturaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="actualizarFacturaResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="actualizarEstadoFactura">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="idFactura" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="nuevoEstado" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="actualizarEstadoFacturaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="actualizarEstadoFacturaResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="obtenerImagenesProducto">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="idProducto" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="obtenerImagenesProductoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="obtenerImagenesProductoResult" type="tns:ArrayOfIMAGEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="agregarImagenProducto">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="imagen" type="tns:IMAGEN" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="agregarImagenProductoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="agregarImagenProductoResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="eliminarImagenProducto">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="idImagen" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="eliminarImagenProductoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="eliminarImagenProductoResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="obtenerProductos">
        <s:complexType />
      </s:element>
      <s:element name="obtenerProductosResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="obtenerProductosResult" type="tns:ArrayOfPRODUCTO" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="obtenerProductoPorNombre">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="nombre" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="obtenerProductoPorNombreResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="obtenerProductoPorNombreResult" type="tns:ArrayOfPRODUCTO" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="obtenerProductoPorId">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="obtenerProductoPorIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="obtenerProductoPorIdResult" type="tns:PRODUCTO" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="crearProducto">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="categoria" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="nombre" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="descripcion" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="precio" type="s:decimal" />
            <s:element minOccurs="1" maxOccurs="1" name="stock" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="fotos" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="crearProductoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="crearProductoResult" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="actualizarProducto">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="producto" type="tns:PRODUCTO" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="actualizarProductoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="actualizarProductoResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="eliminarProducto">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="eliminarProductoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="eliminarProductoResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="autenticarUsuario">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="correo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="autenticarUsuarioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="autenticarUsuarioResult" type="tns:USUARIO" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="registrarUsuarioCliente">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="nombreUsuario" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="correo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="nombreCliente" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="apellidoCliente" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="cedulaRuc" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="telefono" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="fechaNacimiento" nillable="true" type="s:dateTime" />
            <s:element minOccurs="0" maxOccurs="1" name="direccion" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="registrarUsuarioClienteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="registrarUsuarioClienteResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="realizarCompra">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="carrito" type="tns:carritoDTO" />
            <s:element minOccurs="0" maxOccurs="1" name="direccion" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="metodoPago" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="idUsuario" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="carritoDTO">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="productos" type="tns:ArrayOfProductoCantidadDTO" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfProductoCantidadDTO">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="productoCantidadDTO" nillable="true" type="tns:productoCantidadDTO" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="productoCantidadDTO">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="idProducto" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="cantidad" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="realizarCompraResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="realizarCompraResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="obtenerCategoriasSoapIn">
    <wsdl:part name="parameters" element="tns:obtenerCategorias" />
  </wsdl:message>
  <wsdl:message name="obtenerCategoriasSoapOut">
    <wsdl:part name="parameters" element="tns:obtenerCategoriasResponse" />
  </wsdl:message>
  <wsdl:message name="obtenerCategoriaPorIdSoapIn">
    <wsdl:part name="parameters" element="tns:obtenerCategoriaPorId" />
  </wsdl:message>
  <wsdl:message name="obtenerCategoriaPorIdSoapOut">
    <wsdl:part name="parameters" element="tns:obtenerCategoriaPorIdResponse" />
  </wsdl:message>
  <wsdl:message name="crearCategoriaSoapIn">
    <wsdl:part name="parameters" element="tns:crearCategoria" />
  </wsdl:message>
  <wsdl:message name="crearCategoriaSoapOut">
    <wsdl:part name="parameters" element="tns:crearCategoriaResponse" />
  </wsdl:message>
  <wsdl:message name="actualizarCategoriaSoapIn">
    <wsdl:part name="parameters" element="tns:actualizarCategoria" />
  </wsdl:message>
  <wsdl:message name="actualizarCategoriaSoapOut">
    <wsdl:part name="parameters" element="tns:actualizarCategoriaResponse" />
  </wsdl:message>
  <wsdl:message name="eliminarCategoriaSoapIn">
    <wsdl:part name="parameters" element="tns:eliminarCategoria" />
  </wsdl:message>
  <wsdl:message name="eliminarCategoriaSoapOut">
    <wsdl:part name="parameters" element="tns:eliminarCategoriaResponse" />
  </wsdl:message>
  <wsdl:message name="obtenerClientesSoapIn">
    <wsdl:part name="parameters" element="tns:obtenerClientes" />
  </wsdl:message>
  <wsdl:message name="obtenerClientesSoapOut">
    <wsdl:part name="parameters" element="tns:obtenerClientesResponse" />
  </wsdl:message>
  <wsdl:message name="obtenerClientePorIDSoapIn">
    <wsdl:part name="parameters" element="tns:obtenerClientePorID" />
  </wsdl:message>
  <wsdl:message name="obtenerClientePorIDSoapOut">
    <wsdl:part name="parameters" element="tns:obtenerClientePorIDResponse" />
  </wsdl:message>
  <wsdl:message name="crearClienteSoapIn">
    <wsdl:part name="parameters" element="tns:crearCliente" />
  </wsdl:message>
  <wsdl:message name="crearClienteSoapOut">
    <wsdl:part name="parameters" element="tns:crearClienteResponse" />
  </wsdl:message>
  <wsdl:message name="actualizarClienteSoapIn">
    <wsdl:part name="parameters" element="tns:actualizarCliente" />
  </wsdl:message>
  <wsdl:message name="actualizarClienteSoapOut">
    <wsdl:part name="parameters" element="tns:actualizarClienteResponse" />
  </wsdl:message>
  <wsdl:message name="eliminarClienteSoapIn">
    <wsdl:part name="parameters" element="tns:eliminarCliente" />
  </wsdl:message>
  <wsdl:message name="eliminarClienteSoapOut">
    <wsdl:part name="parameters" element="tns:eliminarClienteResponse" />
  </wsdl:message>
  <wsdl:message name="obtenerDetallesFacturaSoapIn">
    <wsdl:part name="parameters" element="tns:obtenerDetallesFactura" />
  </wsdl:message>
  <wsdl:message name="obtenerDetallesFacturaSoapOut">
    <wsdl:part name="parameters" element="tns:obtenerDetallesFacturaResponse" />
  </wsdl:message>
  <wsdl:message name="agregarDetalleFacturaSoapIn">
    <wsdl:part name="parameters" element="tns:agregarDetalleFactura" />
  </wsdl:message>
  <wsdl:message name="agregarDetalleFacturaSoapOut">
    <wsdl:part name="parameters" element="tns:agregarDetalleFacturaResponse" />
  </wsdl:message>
  <wsdl:message name="actualizarDetalleFacturaSoapIn">
    <wsdl:part name="parameters" element="tns:actualizarDetalleFactura" />
  </wsdl:message>
  <wsdl:message name="actualizarDetalleFacturaSoapOut">
    <wsdl:part name="parameters" element="tns:actualizarDetalleFacturaResponse" />
  </wsdl:message>
  <wsdl:message name="eliminarDetalleFacturaSoapIn">
    <wsdl:part name="parameters" element="tns:eliminarDetalleFactura" />
  </wsdl:message>
  <wsdl:message name="eliminarDetalleFacturaSoapOut">
    <wsdl:part name="parameters" element="tns:eliminarDetalleFacturaResponse" />
  </wsdl:message>
  <wsdl:message name="obtenerFacturasSoapIn">
    <wsdl:part name="parameters" element="tns:obtenerFacturas" />
  </wsdl:message>
  <wsdl:message name="obtenerFacturasSoapOut">
    <wsdl:part name="parameters" element="tns:obtenerFacturasResponse" />
  </wsdl:message>
  <wsdl:message name="obtenerFacturaPorIDSoapIn">
    <wsdl:part name="parameters" element="tns:obtenerFacturaPorID" />
  </wsdl:message>
  <wsdl:message name="obtenerFacturaPorIDSoapOut">
    <wsdl:part name="parameters" element="tns:obtenerFacturaPorIDResponse" />
  </wsdl:message>
  <wsdl:message name="obtenerFacturasPorCedulaClienteSoapIn">
    <wsdl:part name="parameters" element="tns:obtenerFacturasPorCedulaCliente" />
  </wsdl:message>
  <wsdl:message name="obtenerFacturasPorCedulaClienteSoapOut">
    <wsdl:part name="parameters" element="tns:obtenerFacturasPorCedulaClienteResponse" />
  </wsdl:message>
  <wsdl:message name="crearFacturaSoapIn">
    <wsdl:part name="parameters" element="tns:crearFactura" />
  </wsdl:message>
  <wsdl:message name="crearFacturaSoapOut">
    <wsdl:part name="parameters" element="tns:crearFacturaResponse" />
  </wsdl:message>
  <wsdl:message name="actualizarFacturaSoapIn">
    <wsdl:part name="parameters" element="tns:actualizarFactura" />
  </wsdl:message>
  <wsdl:message name="actualizarFacturaSoapOut">
    <wsdl:part name="parameters" element="tns:actualizarFacturaResponse" />
  </wsdl:message>
  <wsdl:message name="actualizarEstadoFacturaSoapIn">
    <wsdl:part name="parameters" element="tns:actualizarEstadoFactura" />
  </wsdl:message>
  <wsdl:message name="actualizarEstadoFacturaSoapOut">
    <wsdl:part name="parameters" element="tns:actualizarEstadoFacturaResponse" />
  </wsdl:message>
  <wsdl:message name="obtenerImagenesProductoSoapIn">
    <wsdl:part name="parameters" element="tns:obtenerImagenesProducto" />
  </wsdl:message>
  <wsdl:message name="obtenerImagenesProductoSoapOut">
    <wsdl:part name="parameters" element="tns:obtenerImagenesProductoResponse" />
  </wsdl:message>
  <wsdl:message name="agregarImagenProductoSoapIn">
    <wsdl:part name="parameters" element="tns:agregarImagenProducto" />
  </wsdl:message>
  <wsdl:message name="agregarImagenProductoSoapOut">
    <wsdl:part name="parameters" element="tns:agregarImagenProductoResponse" />
  </wsdl:message>
  <wsdl:message name="eliminarImagenProductoSoapIn">
    <wsdl:part name="parameters" element="tns:eliminarImagenProducto" />
  </wsdl:message>
  <wsdl:message name="eliminarImagenProductoSoapOut">
    <wsdl:part name="parameters" element="tns:eliminarImagenProductoResponse" />
  </wsdl:message>
  <wsdl:message name="obtenerProductosSoapIn">
    <wsdl:part name="parameters" element="tns:obtenerProductos" />
  </wsdl:message>
  <wsdl:message name="obtenerProductosSoapOut">
    <wsdl:part name="parameters" element="tns:obtenerProductosResponse" />
  </wsdl:message>
  <wsdl:message name="obtenerProductoPorNombreSoapIn">
    <wsdl:part name="parameters" element="tns:obtenerProductoPorNombre" />
  </wsdl:message>
  <wsdl:message name="obtenerProductoPorNombreSoapOut">
    <wsdl:part name="parameters" element="tns:obtenerProductoPorNombreResponse" />
  </wsdl:message>
  <wsdl:message name="obtenerProductoPorIdSoapIn">
    <wsdl:part name="parameters" element="tns:obtenerProductoPorId" />
  </wsdl:message>
  <wsdl:message name="obtenerProductoPorIdSoapOut">
    <wsdl:part name="parameters" element="tns:obtenerProductoPorIdResponse" />
  </wsdl:message>
  <wsdl:message name="crearProductoSoapIn">
    <wsdl:part name="parameters" element="tns:crearProducto" />
  </wsdl:message>
  <wsdl:message name="crearProductoSoapOut">
    <wsdl:part name="parameters" element="tns:crearProductoResponse" />
  </wsdl:message>
  <wsdl:message name="actualizarProductoSoapIn">
    <wsdl:part name="parameters" element="tns:actualizarProducto" />
  </wsdl:message>
  <wsdl:message name="actualizarProductoSoapOut">
    <wsdl:part name="parameters" element="tns:actualizarProductoResponse" />
  </wsdl:message>
  <wsdl:message name="eliminarProductoSoapIn">
    <wsdl:part name="parameters" element="tns:eliminarProducto" />
  </wsdl:message>
  <wsdl:message name="eliminarProductoSoapOut">
    <wsdl:part name="parameters" element="tns:eliminarProductoResponse" />
  </wsdl:message>
  <wsdl:message name="autenticarUsuarioSoapIn">
    <wsdl:part name="parameters" element="tns:autenticarUsuario" />
  </wsdl:message>
  <wsdl:message name="autenticarUsuarioSoapOut">
    <wsdl:part name="parameters" element="tns:autenticarUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="registrarUsuarioClienteSoapIn">
    <wsdl:part name="parameters" element="tns:registrarUsuarioCliente" />
  </wsdl:message>
  <wsdl:message name="registrarUsuarioClienteSoapOut">
    <wsdl:part name="parameters" element="tns:registrarUsuarioClienteResponse" />
  </wsdl:message>
  <wsdl:message name="realizarCompraSoapIn">
    <wsdl:part name="parameters" element="tns:realizarCompra" />
  </wsdl:message>
  <wsdl:message name="realizarCompraSoapOut">
    <wsdl:part name="parameters" element="tns:realizarCompraResponse" />
  </wsdl:message>
  <wsdl:portType name="WebServiceGestionSoap">
    <wsdl:operation name="obtenerCategorias">
      <wsdl:input message="tns:obtenerCategoriasSoapIn" />
      <wsdl:output message="tns:obtenerCategoriasSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="obtenerCategoriaPorId">
      <wsdl:input message="tns:obtenerCategoriaPorIdSoapIn" />
      <wsdl:output message="tns:obtenerCategoriaPorIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="crearCategoria">
      <wsdl:input message="tns:crearCategoriaSoapIn" />
      <wsdl:output message="tns:crearCategoriaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="actualizarCategoria">
      <wsdl:input message="tns:actualizarCategoriaSoapIn" />
      <wsdl:output message="tns:actualizarCategoriaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="eliminarCategoria">
      <wsdl:input message="tns:eliminarCategoriaSoapIn" />
      <wsdl:output message="tns:eliminarCategoriaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="obtenerClientes">
      <wsdl:input message="tns:obtenerClientesSoapIn" />
      <wsdl:output message="tns:obtenerClientesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="obtenerClientePorID">
      <wsdl:input message="tns:obtenerClientePorIDSoapIn" />
      <wsdl:output message="tns:obtenerClientePorIDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="crearCliente">
      <wsdl:input message="tns:crearClienteSoapIn" />
      <wsdl:output message="tns:crearClienteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="actualizarCliente">
      <wsdl:input message="tns:actualizarClienteSoapIn" />
      <wsdl:output message="tns:actualizarClienteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="eliminarCliente">
      <wsdl:input message="tns:eliminarClienteSoapIn" />
      <wsdl:output message="tns:eliminarClienteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="obtenerDetallesFactura">
      <wsdl:input message="tns:obtenerDetallesFacturaSoapIn" />
      <wsdl:output message="tns:obtenerDetallesFacturaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="agregarDetalleFactura">
      <wsdl:input message="tns:agregarDetalleFacturaSoapIn" />
      <wsdl:output message="tns:agregarDetalleFacturaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="actualizarDetalleFactura">
      <wsdl:input message="tns:actualizarDetalleFacturaSoapIn" />
      <wsdl:output message="tns:actualizarDetalleFacturaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="eliminarDetalleFactura">
      <wsdl:input message="tns:eliminarDetalleFacturaSoapIn" />
      <wsdl:output message="tns:eliminarDetalleFacturaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="obtenerFacturas">
      <wsdl:input message="tns:obtenerFacturasSoapIn" />
      <wsdl:output message="tns:obtenerFacturasSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="obtenerFacturaPorID">
      <wsdl:input message="tns:obtenerFacturaPorIDSoapIn" />
      <wsdl:output message="tns:obtenerFacturaPorIDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="obtenerFacturasPorCedulaCliente">
      <wsdl:input message="tns:obtenerFacturasPorCedulaClienteSoapIn" />
      <wsdl:output message="tns:obtenerFacturasPorCedulaClienteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="crearFactura">
      <wsdl:input message="tns:crearFacturaSoapIn" />
      <wsdl:output message="tns:crearFacturaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="actualizarFactura">
      <wsdl:input message="tns:actualizarFacturaSoapIn" />
      <wsdl:output message="tns:actualizarFacturaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="actualizarEstadoFactura">
      <wsdl:input message="tns:actualizarEstadoFacturaSoapIn" />
      <wsdl:output message="tns:actualizarEstadoFacturaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="obtenerImagenesProducto">
      <wsdl:input message="tns:obtenerImagenesProductoSoapIn" />
      <wsdl:output message="tns:obtenerImagenesProductoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="agregarImagenProducto">
      <wsdl:input message="tns:agregarImagenProductoSoapIn" />
      <wsdl:output message="tns:agregarImagenProductoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="eliminarImagenProducto">
      <wsdl:input message="tns:eliminarImagenProductoSoapIn" />
      <wsdl:output message="tns:eliminarImagenProductoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="obtenerProductos">
      <wsdl:input message="tns:obtenerProductosSoapIn" />
      <wsdl:output message="tns:obtenerProductosSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="obtenerProductoPorNombre">
      <wsdl:input message="tns:obtenerProductoPorNombreSoapIn" />
      <wsdl:output message="tns:obtenerProductoPorNombreSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="obtenerProductoPorId">
      <wsdl:input message="tns:obtenerProductoPorIdSoapIn" />
      <wsdl:output message="tns:obtenerProductoPorIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="crearProducto">
      <wsdl:input message="tns:crearProductoSoapIn" />
      <wsdl:output message="tns:crearProductoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="actualizarProducto">
      <wsdl:input message="tns:actualizarProductoSoapIn" />
      <wsdl:output message="tns:actualizarProductoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="eliminarProducto">
      <wsdl:input message="tns:eliminarProductoSoapIn" />
      <wsdl:output message="tns:eliminarProductoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="autenticarUsuario">
      <wsdl:input message="tns:autenticarUsuarioSoapIn" />
      <wsdl:output message="tns:autenticarUsuarioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="registrarUsuarioCliente">
      <wsdl:input message="tns:registrarUsuarioClienteSoapIn" />
      <wsdl:output message="tns:registrarUsuarioClienteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="realizarCompra">
      <wsdl:input message="tns:realizarCompraSoapIn" />
      <wsdl:output message="tns:realizarCompraSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebServiceGestionSoap" type="tns:WebServiceGestionSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="obtenerCategorias">
      <soap:operation soapAction="http://tempuri.org/obtenerCategorias" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="obtenerCategoriaPorId">
      <soap:operation soapAction="http://tempuri.org/obtenerCategoriaPorId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="crearCategoria">
      <soap:operation soapAction="http://tempuri.org/crearCategoria" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="actualizarCategoria">
      <soap:operation soapAction="http://tempuri.org/actualizarCategoria" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="eliminarCategoria">
      <soap:operation soapAction="http://tempuri.org/eliminarCategoria" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="obtenerClientes">
      <soap:operation soapAction="http://tempuri.org/obtenerClientes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="obtenerClientePorID">
      <soap:operation soapAction="http://tempuri.org/obtenerClientePorID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="crearCliente">
      <soap:operation soapAction="http://tempuri.org/crearCliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="actualizarCliente">
      <soap:operation soapAction="http://tempuri.org/actualizarCliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="eliminarCliente">
      <soap:operation soapAction="http://tempuri.org/eliminarCliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="obtenerDetallesFactura">
      <soap:operation soapAction="http://tempuri.org/obtenerDetallesFactura" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="agregarDetalleFactura">
      <soap:operation soapAction="http://tempuri.org/agregarDetalleFactura" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="actualizarDetalleFactura">
      <soap:operation soapAction="http://tempuri.org/actualizarDetalleFactura" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="eliminarDetalleFactura">
      <soap:operation soapAction="http://tempuri.org/eliminarDetalleFactura" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="obtenerFacturas">
      <soap:operation soapAction="http://tempuri.org/obtenerFacturas" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="obtenerFacturaPorID">
      <soap:operation soapAction="http://tempuri.org/obtenerFacturaPorID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="obtenerFacturasPorCedulaCliente">
      <soap:operation soapAction="http://tempuri.org/obtenerFacturasPorCedulaCliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="crearFactura">
      <soap:operation soapAction="http://tempuri.org/crearFactura" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="actualizarFactura">
      <soap:operation soapAction="http://tempuri.org/actualizarFactura" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="actualizarEstadoFactura">
      <soap:operation soapAction="http://tempuri.org/actualizarEstadoFactura" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="obtenerImagenesProducto">
      <soap:operation soapAction="http://tempuri.org/obtenerImagenesProducto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="agregarImagenProducto">
      <soap:operation soapAction="http://tempuri.org/agregarImagenProducto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="eliminarImagenProducto">
      <soap:operation soapAction="http://tempuri.org/eliminarImagenProducto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="obtenerProductos">
      <soap:operation soapAction="http://tempuri.org/obtenerProductos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="obtenerProductoPorNombre">
      <soap:operation soapAction="http://tempuri.org/obtenerProductoPorNombre" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="obtenerProductoPorId">
      <soap:operation soapAction="http://tempuri.org/obtenerProductoPorId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="crearProducto">
      <soap:operation soapAction="http://tempuri.org/crearProducto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="actualizarProducto">
      <soap:operation soapAction="http://tempuri.org/actualizarProducto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="eliminarProducto">
      <soap:operation soapAction="http://tempuri.org/eliminarProducto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="autenticarUsuario">
      <soap:operation soapAction="http://tempuri.org/autenticarUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="registrarUsuarioCliente">
      <soap:operation soapAction="http://tempuri.org/registrarUsuarioCliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="realizarCompra">
      <soap:operation soapAction="http://tempuri.org/realizarCompra" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebServiceGestionSoap12" type="tns:WebServiceGestionSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="obtenerCategorias">
      <soap12:operation soapAction="http://tempuri.org/obtenerCategorias" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="obtenerCategoriaPorId">
      <soap12:operation soapAction="http://tempuri.org/obtenerCategoriaPorId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="crearCategoria">
      <soap12:operation soapAction="http://tempuri.org/crearCategoria" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="actualizarCategoria">
      <soap12:operation soapAction="http://tempuri.org/actualizarCategoria" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="eliminarCategoria">
      <soap12:operation soapAction="http://tempuri.org/eliminarCategoria" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="obtenerClientes">
      <soap12:operation soapAction="http://tempuri.org/obtenerClientes" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="obtenerClientePorID">
      <soap12:operation soapAction="http://tempuri.org/obtenerClientePorID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="crearCliente">
      <soap12:operation soapAction="http://tempuri.org/crearCliente" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="actualizarCliente">
      <soap12:operation soapAction="http://tempuri.org/actualizarCliente" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="eliminarCliente">
      <soap12:operation soapAction="http://tempuri.org/eliminarCliente" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="obtenerDetallesFactura">
      <soap12:operation soapAction="http://tempuri.org/obtenerDetallesFactura" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="agregarDetalleFactura">
      <soap12:operation soapAction="http://tempuri.org/agregarDetalleFactura" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="actualizarDetalleFactura">
      <soap12:operation soapAction="http://tempuri.org/actualizarDetalleFactura" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="eliminarDetalleFactura">
      <soap12:operation soapAction="http://tempuri.org/eliminarDetalleFactura" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="obtenerFacturas">
      <soap12:operation soapAction="http://tempuri.org/obtenerFacturas" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="obtenerFacturaPorID">
      <soap12:operation soapAction="http://tempuri.org/obtenerFacturaPorID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="obtenerFacturasPorCedulaCliente">
      <soap12:operation soapAction="http://tempuri.org/obtenerFacturasPorCedulaCliente" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="crearFactura">
      <soap12:operation soapAction="http://tempuri.org/crearFactura" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="actualizarFactura">
      <soap12:operation soapAction="http://tempuri.org/actualizarFactura" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="actualizarEstadoFactura">
      <soap12:operation soapAction="http://tempuri.org/actualizarEstadoFactura" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="obtenerImagenesProducto">
      <soap12:operation soapAction="http://tempuri.org/obtenerImagenesProducto" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="agregarImagenProducto">
      <soap12:operation soapAction="http://tempuri.org/agregarImagenProducto" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="eliminarImagenProducto">
      <soap12:operation soapAction="http://tempuri.org/eliminarImagenProducto" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="obtenerProductos">
      <soap12:operation soapAction="http://tempuri.org/obtenerProductos" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="obtenerProductoPorNombre">
      <soap12:operation soapAction="http://tempuri.org/obtenerProductoPorNombre" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="obtenerProductoPorId">
      <soap12:operation soapAction="http://tempuri.org/obtenerProductoPorId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="crearProducto">
      <soap12:operation soapAction="http://tempuri.org/crearProducto" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="actualizarProducto">
      <soap12:operation soapAction="http://tempuri.org/actualizarProducto" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="eliminarProducto">
      <soap12:operation soapAction="http://tempuri.org/eliminarProducto" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="autenticarUsuario">
      <soap12:operation soapAction="http://tempuri.org/autenticarUsuario" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="registrarUsuarioCliente">
      <soap12:operation soapAction="http://tempuri.org/registrarUsuarioCliente" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="realizarCompra">
      <soap12:operation soapAction="http://tempuri.org/realizarCompra" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebServiceGestion">
    <wsdl:port name="WebServiceGestionSoap" binding="tns:WebServiceGestionSoap">
      <soap:address location="http://backendpawstails.runasp.net/WebServiceGestion.asmx" />
    </wsdl:port>
    <wsdl:port name="WebServiceGestionSoap12" binding="tns:WebServiceGestionSoap12">
      <soap12:address location="http://backendpawstails.runasp.net/WebServiceGestion.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>